.NewsFooter {
    background-color: #ca0000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    color: black;
    padding-left: 1%;
    padding-right: 1%;
}

.NewsFooter_time {
    font-family: sans-serif;
}

address {
    font-style: normal;
}
