* {
    margin: 0;
    padding: 0;
}

img
{
	height: 100px;
	width: auto;
	left:50px;
	position: relative;
  border: 5px solid red;
  border-radius: 100px/80px;
  box-shadow: 10px 10px 10px gray;
	-webkit-transform: translateX(-80%);
	-ms-transform: translateX(-80%);
	-moz-transform: translateX(-80%);
}

.article_image
{
	margin: auto;
  left:20px;
  top: 10px;
	width: 120px;
	height: auto;
	overflow: hidden;
	position: relative;
  padding-left: 100px;
  float: left;
}
