* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.article_list {
    border: 2px solid #ca0000;
    width: 600px;
    height: auto;
    margin: 20px auto;
    padding: 0;
    line-height: 24px;
    background-color: whitesmoke;
    text-align: right;
    z-index: 2;
}

h3 {
    color: #ca0000;
    padding: 5px;
    padding-bottom: 1px;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

p {
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 20px;
    text-align: left;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

a {
    padding: 15px;
    padding-bottom: 1px;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-style: oblique;
    text-align: right;
}

a:hover {
    font-family: "Times New Roman";
    font-size:12px;
    color: #FF3366;
    text-decoration: none;
}

time {
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
}
